@media only screen and (max-width: 2560px) {
  body {
    font-size: 40px;
  }

  #habilidades-contenedor {
    margin: 0px !important;
  }
  #datos-valor {
    margin: 4em 0px 0px 0px !important;
  }
  #principal-contenedor {
    display: flex;
    /*background-color: #0074e6;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
@media only screen and (max-width: 2239px) {
  body {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1982px) {
  body {
    font-size: 32px;
  }
  #principal-contenedor {
    display: flex;
    /*background-color: #0074e6;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media only screen and (max-width: 1791px) {
  body {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1176px) {
  body {
    font-size: 18px;
  }
  #principal-contenedor {
    display: flex;
    /*background-color: #0074e6;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media only screen and (max-width: 1040px) {
  body {
    font-size: 17px;
  }
  #principal-contenedor {
    display: flex;
    /*background-color: #0074e6;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media only screen and (max-width: 842px) {
  body {
    font-size: 13px;
  }
  #experiencia,
  #educacion {
    max-width: 20em;
  }
  #principal-contenedor {
    display: flex;
    /*background-color: #0074e6;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media only screen and (max-width: 892px) {
  body {
    font-size: 13px;
  }
}

@media only screen and (max-width: 680px) {
  body {
    font-size: 13px;
  }
  #principal-contenedor {
    /*flex-flow: wrap column !important;*/
    justify-content: center !important;
    align-items: center !important;
  }
  #titulo-contenedor {
    /*flex-flow: wrap row !important;*/
    max-width: 23em;
    justify-content: center !important;
    align-items: center !important;
  }
  #principal-contenedor {
    position: relative;
  }
}
@media only screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }
  .rel-datos-titulo {
    max-width: 19em;
  }
  #habilidades-contenedor {
    margin-left: 0em !important;
  }
  #nombre {
    justify-content: center;
    align-items: center;
  }
  #principal-contenedor {
    position: relative;
  }
}
@media only screen and (max-width: 337px) {
  body {
    font-size: 14px !important;
  }
  .rel-datos-titulo {
    max-width: 15em;
  }
  .rel-habilidad-contenedor {
    max-width: 18em !important;
  }
  #nombre {
    justify-content: center;
    align-items: center;
  }
  #principal-contenedor {
    position: relative;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", cursive;
  color: #15375d;
}
a {
  text-decoration: none;
  color: #15375d;
}
.rel-git :hover {
  font-size: 1.1em;
}

p {
  font-family: "Open Sans";
  font-weight: 200;
}
#principal-contenedor {
  display: flex;
  background-image: linear-gradient(to right, #0066cc, #458cd3);
  flex-flow: wrap row;
  justify-content: space-around;
  color: white;
  padding: 1em 0em 1em 0em;
}

.rel-descargar-pdf {
  display: scroll;
  position: fixed;
  background-color: #0066cc;
  max-width: 15em;
  padding: 1em;
  border: 1 solid snow;
  border-radius: 2em;
  font-size: 0.8em;
  bottom: 1em;
  right: 1em;
}


#titulo-contenedor {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

#titulo-contenedor i {
  color: white;
}

#titulo-contenedor img {
  width: 12em;
  height: 7em;
  clip-path: circle(35% at center);
}

#nombre {
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
}

#nombre p {
  color: white;
  margin-top: 0px;
  font-family: "Open Sans";
  font-weight: 200;
}
#nombre h1 {
  color: white;
  margin-bottom: 0px;
}

#contacto-contenedor {
  width: 20em;
  display: flex;
  flex-flow: wrap column;
  margin-left: 2em;
}
#contacto-contenedor p {
  margin: 0px;
  color: white;
}
#datos-contenedor {
  margin: 0em 3em 2em 3em;
  background: url(img/fondo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#perfil-contenedor {
  padding-top: 3em;
}

.rel-contacto-texto {
  display: flex;
  margin-left: 1em;
  margin: 0.5em 0px 0.5em 0px;
}
.rel-contacto-texto a {
  display: flex;
  color: white;
  text-decoration: none;
}
.rel-contacto-texto i {
  margin-right: 0.5em;
}
.rel-titulo {
  display: flex;
}

.rel-titulo h2 {
  margin: 0px 0px 0px 0.5em;
  color: #0066cc;
  font-size: 1.5em;
}

.rel-titulo i {
  color: #0066cc;
  font-size: 1.5em;
}

#perfil-contenedor p {
  margin-left: 2em;
}

#experiencia-contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 3em;
}

#experiencia,
#educacion {
  width: 25em;
}

.rel-temas {
  margin: 0em 0em 1em 2em;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
}
.rel-temas :nth-child(n) {
  margin: 0.2em;
}
#habilidades-contenedor {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  margin: 2em;
}

#habilidades,
#lenguaje {
  width: 25em;
  margin-top: 2em;
}

.rel-habilidades {
  display: flex;
  flex-flow: wrap column;
  margin-left: 2em;
}

.rel-habilidades p {
  margin-bottom: 0px;
}

.rel-contenerdor-barra-progreso {
  width: 100%;
  height: 1em;
  border: 2px solid #0066cc;

  border-radius: 0.4em 0.4em 0.4em 0.4em;
}

.rel-barra-progreso {
  height: 1em;
  background-color: #0066cc;
  color: white;
  text-align: center;
  border-radius: 0px 0.3em 0.3em 0px;
}

#barra-wordpress {
  width: 50%;
}

#barra-wordpress:hover:before {
  content: "50%";
}

#barra-java {
  width: 60%;
}
#barra-java:hover:before {
  content: "60%";
}

#barra-mysql {
  width: 70%;
}
#barra-mysql:hover:before {
  content: "70%";
}

#barra-javaScript {
  width: 50%;
}

#barra-javaScript:hover:before {
  content: "50%";
}

#barra-unity {
  width: 70%;
}

#barra-unity:hover:before {
  content: "70%";
}

#barra-español {
  width: 80%;
}
#barra-español:hover:before {
  content: "80%";
}

#barra-ingles {
  width: 40%;
}

#barra-ingles:hover:before {
  content: "40%";
}

#datos-valor {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  margin: 2em;
}

#herramientas,
#certificados {
  width: 25em;
}

.rel-datos-titulo {
  display: flex;
  flex-flow: wrap column;
  width: 25em;
  margin-left: 2em;
}

.rel-datos-titulo h3 {
  margin-bottom: 0px;
}
.rel-datos-titulo h5 {
  margin: 0px;
}
